@layer base {
    main {
        @apply w-dvw h-dvh overflow-hidden;
    }

    nav {
        @apply 
          fixed top-0 left-0 w-full
          z-[99999]
          flex justify-between items-center
          bg-white/50 backdrop-blur-3xl
          p-2 px-5
          select-none;

        div {
            @apply flex items-center max-sm:w-full max-sm:justify-center gap-5;

            &:last-child {
                @apply max-sm:hidden;
            }
        }

        ul {
            @apply flex items-center gap-5 max-sm:hidden;

            p {
                @apply text-sm cursor-pointer hover:underline transition-all;
            }
        }

        time {
            @apply text-sm font-medium text-black;
        }
    }
}
