@layer base {
    main {
        @apply w-dvw h-dvh overflow-hidden;
    }

    nav {
        img{

        }
        @apply 
          fixed top-0 left-0 w-full
          z-[300]
          flex justify-between items-center
          bg-black/80 backdrop-blur-3xl
        px-5
          select-none;

        div {
            @apply flex items-center max-sm:w-full max-sm:justify-center gap-5;

            &:last-child {
                @apply max-sm:hidden;
            }
        }

        ul {
            @apply flex items-center gap-5 max-sm:hidden;

            li {
  @apply
    text-sm cursor-pointer
    px-2 py-1
    rounded-full
    transition-colors
    hover:bg-white/10
    font-semibold
    text-white
    
}
        }

        time {
            @apply text-sm font-medium text-white;
        }
    }
}
