html,
body {
    width: 100dvw;
    overflow: hidden;
    height: 100dvh;
    background-image: url("/images/wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mac-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.mac-scrollbar::-webkit-scrollbar-button {
    height: 0;
    display: none;
    /* Removes top/bottom arrows */
}

.mac-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 6px;
    margin-bottom: 6px;
}

.mac-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.35);
    border-radius: 9999px;
}

.mac-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(120, 120, 120, 0.55);
}

.terminal-cursor {
    display: inline-block;
    width: 0.6em;
    height: 1.2em;
    background: #dfdcdc;
    /* light terminal white */
    margin-left: 2px;
    vertical-align: bottom;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}

.window-maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100dvw !important;
  height: 100dvh !important;
  max-width: 100dvw !important;
  max-height: 100dvh !important;
  border-radius: 0 !important;
}

.tooltip {
    @apply !py-1 !px-3 !w-fit !text-center !text-xs !rounded-md !bg-blue-200 !text-blue-900 !shadow-2xl;
}
